/* =============================== */
/* Global Component Variables      */
/* =============================== */
  
.loading {
  text-align: center;
  padding: 2rem;
}

.signout-button {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.signout-button:hover {
}